# Basic classification model of outcome

This notebook performs a simple binary classification on the outcomes of cats using a `logistic regression`.

## Imports

In [56]:
import datetime
import pandas as pd
import numpy as np
from AAC_challenge import data

from sklearn.impute import SimpleImputer

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Data loading and cleaning

In [64]:
cat_df = data.get_clean_cat_dataset('cats')
cat_df.head()

,breed,color,date_of_birth,outcome_datetime,outcome_type,sex,sterilized,periods,period_range,outcome_age_(days),...,outcome_year,outcome_weekday,cfa_breed,domestic_breed,coat_pattern,main_color,coat,has_name,adopted_or_not,outcome_year_month
0,domestic shorthair,orange,2014-07-07,2014-07-22,Transfer,Male,0,2,7,14,...,2014,Tuesday,0,1,tabby,orange,orange,0,0,2014-07-01
1,domestic shorthair,blue /white,2014-06-16,2014-08-14,Adoption,Female,0,1,30,30,...,2014,Thursday,0,1,tabby,blue,blue,1,1,2014-08-01
2,domestic shorthair,white/black,2014-03-26,2014-06-29,Adoption,Female,1,3,30,90,...,2014,Sunday,0,1,tabby,white,white,1,1,2014-06-01
3,domestic mediumhair,black/white,2013-03-27,2014-03-28,Return to Owner,Female,1,1,365,365,...,2014,Friday,0,1,tabby,black,black,1,0,2014-03-01
4,domestic shorthair,black/white,2013-12-16,2014-01-09,Transfer,Male,0,3,7,21,...,2014,Thursday,0,1,tabby,black,black,0,0,2014-01-01

In [99]:
cat_df.dtypes

breed                          object
color                          object
date_of_birth          datetime64[ns]
outcome_datetime               object
outcome_type                   object
sex                            object
sterilized                     object
periods                        object
period_range                   object
outcome_age_(days)             object
outcome_age_(years)            object
outcome_month                  object
outcome_year                   object
outcome_weekday                object
cfa_breed                      object
domestic_breed                 object
coat_pattern                   object
main_color                     object
coat                           object
has_name                       object
adopted_or_not                 object
outcome_year_month     datetime64[ns]
dtype: object

In [ ]:
cat_df.sex = cat_df

In [67]:
cat_df.columns

Index(['breed', 'color', 'date_of_birth', 'outcome_datetime', 'outcome_type',
       'sex', 'sterilized', 'periods', 'period_range', 'outcome_age_(days)',
       'outcome_age_(years)', 'outcome_month', 'outcome_year',
       'outcome_weekday', 'cfa_breed', 'domestic_breed', 'coat_pattern',
       'main_color', 'coat', 'has_name', 'adopted_or_not',
       'outcome_year_month'],
      dtype='object')

In [105]:
features_df = cat_df[['breed', 'color', 'date_of_birth', 'sex', 'sterilized',
                      'cfa_breed', 'domestic_breed', 'coat_pattern', 'main_color',
                     'coat', 'has_name']]

target = cat_df['adopted_or_not'].astype(float)

**One Hot Encoding:**


* Don't OHE breed (keep top_breeds instead)
* Don't OHE color (keep main_color instead)
* OHE sex
* OHE coat_pattern
* OHE coat

In [106]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [107]:
X_ohe = pd.DataFrame(enc.fit_transform(features_df))

In [108]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_ohe, target, test_size=0.3, random_state=0)

In [109]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

log_reg = LogisticRegression()
print(cross_val_score(log_reg, X_ohe, target, cv=3))

/Users/commander/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
AttributeError: 'str' object has no attribute 'decode'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/commander/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
AttributeError: 'str' object has no attribute 'decode'

  warnings.warn("Estimator fit failed. The score on this train-test"

[nan nan nan]

/Users/commander/.pyenv/versions/3.8.12/envs/lewagon_current/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
AttributeError: 'str' object has no attribute 'decode'

  warnings.warn("Estimator fit failed. The score on this train-test"